<!DOCTYPE html>
<form action='/setup-manual',role="search" id="form", method="POST">
    <div class='search_pad'>
      <div class='search_input'>
        <label for="name">Campaign Name</label>
          <input type="txt" id="query" name="camp_name" placeholder="Campaign name...">
      </div>
      <div class='search_input'>
        <label for="name">Asin list</label>
        <input type="text" id="query" name="asin_list" placeholder="Asin List" >
      </div>
      <div class='search_input'>
        <label for="name">Product Name</label>
        <input type="text" id="query" name="product_name" placeholder="Product name" >
      </div>    
      <div class='search_input'>
        <label for="name">Bid</label>
        <input type="text" id="query" name="bid" placeholder="Bid" >
      </div>
      <div class='search_input'>
        <label for="name">Budget</label>
        <input type="text" id="query" name="budget" placeholder="Budget" >
      </div>
      <div class='search_input'>
        <label for="name">Billing Strategy</label>
        <input type="text" id="query" name="billing_strategy" placeholder="Billing Strategy" >
      </div>
    </div>
    <div class='search_button'>
      <button>
        <svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg>
      </button>
    </div>
  </form>
</html>