<!DOCTYPE html>
<form action='/setup-manual',role="search" id="form", method="POST">
    <div class='search_pad'>
      <div class='search_input'>
        <label for="name">Campaign Name</label>
          <input type="txt" id="query" name="camp_name" placeholder="Campaign name...">
      </div>
      <div class='search_input'>
        <label for="name">Asin list</label>
        <input type="text" id="query" name="asin_list" placeholder="Asin List" >
      </div>
      <div class='search_input'>
        <label for="name">Product Name</label>
        <input type="text" id="query" name="product_name" placeholder="Product name" >
      </div>    
      <div class='search_input'>
        <label for="name">Bid</label>
        <input type="text" id="query" name="bid" placeholder="Bid" >
      </div>
      <div class='search_input'>
        <label for="name">Budget</label>
        <input type="text" id="query" name="budget" placeholder="Budget" >
      </div>
      <div class='search_input'>
        <label for="name">Billing Strategy</label>
        <input type="text" id="query" name="billing_strategy" placeholder="Billing Strategy" >
      </div>
    </div>
    <div class='search_button'>
      <button>
        OK
      </button>
    </div>
  </form>
</html>