<!DOCTYPE html>
<form action='/setup-manual',role="search" id="form_asin", method="POST"
  enctype = "multipart/form-data">
  <input type = "file" name = "file_input" />
  <!-- <input type = "file" name = "file_report" /> -->
  <!-- <input type="text" id="query" name="Acos" placeholder="Acos " >
  <input type="text" id="query" name="Clicks" placeholder="Number of Clicks ">
  <input type="text" id="query" name="Spend" placeholder="Spend" > -->
  <label for="setup_type">Choose a Setup Type:</label>
  <select name="setup" id="setup">
    <option value="sp_manual">SP Manual</option>
    <option value="sp_auto">SP Auto</option>
    <option value="sd">SD</option>
    <!-- <option value="audi">Audi</option> -->
  </select>
  <br><br>
  <input type = "submit"/>
</html>