<!DOCTYPE html>
<form action='/setup-manual',role="search" id="form_asin", method="POST">
    <div class='search_pad'>
      <div class='search_input'>
        <label for="name">Campaign Name</label>
          <input type="txt" id="query" name="camp_name" placeholder="Campaign name...">
      </div>
      <div class='search_input'>
        <label for="name">Asin list</label>
        <input type="text" id="query" name="asin_list" placeholder="Asin List" >
      </div>
      <div class='search_input'>
        <label for="name">Product Name</label>
        <input type="text" id="query" name="product_name" placeholder="Product name" >
      </div>    
      <div class='search_input'>
        <label for="name">Bid</label>
        <input type="text" id="query" name="bid" placeholder="Bid" >
      </div>
      <div class='search_input'>
        <label for="name">Budget</label>
        <input type="text" id="query" name="budget" placeholder="Budget" >
      </div>
      <div class='search_input'>
        <label for="name">Billing Strategy</label>
        <input type="text" id="query" name="billing_strategy" placeholder="Billing Strategy" >
      </div>
    </div>
    <div class='search_button'>
      <input type="submit" name="button_action" value="Asin Append">
      <!-- <input type="submit" name="button_1" value="Total Submit"> -->
    </div>
  </form>

  <form action='/setup-manual',role="search" id="form_kw", method="POST">
    <div class='search_pad'>
      <div class='search_input'>
        <label for="name">Campaign Name</label>
          <input type="txt" id="query" name="camp_name" placeholder="Campaign name...">
      </div>
      <div class='search_input'>
        <label for="name">Keyword list</label>
        <input type="text" id="query" name="keyword_list" placeholder="Keyword List, split by comma" >
      </div>
      <div class='search_input'>
        <label for="name">Product Name</label>
        <input type="text" id="query" name="product_name" placeholder="Product name" >
      </div>    
      <div class='search_input'>
        <label for="name">Bid</label>
        <input type="text" id="query" name="bid" placeholder="Bid" >
      </div>
      <div class='search_input'>
        <label for="name">Budget</label>
        <input type="text" id="query" name="budget" placeholder="Budget" >
      </div>
      <div class='search_input'>
        <label for="name">Billing Strategy</label>
        <input type="text" id="query" name="billing_strategy" placeholder="Billing Strategy" >
      </div>
      <div class='search_input'>
        <label for="name">Portfolio Id</label>
        <input type="text" id="query" name="portfolio_id" placeholder="Portfolio" >
      </div>
      <div class='search_input'>
        <label for="name">Match Type</label>
        <input type="text" id="query" name="match_type" placeholder="Match Type" >
      </div>
    </div>
    <div class='search_button'>
      <input type="submit" name="button_action" value="Keyword Append">
      <!-- <input type="submit" name="button_1" value="Total Submit"> -->
    </div>
  </form>
  <form action='/setup-manual',role="search" id="form_total", method="POST">
    <input type="submit" name="button_action" value="Total Submit">
  </form>
  
</html>